@mixin row($inside: false) {
  @if($inside == true) {
    margin-right: -$gutter/2;
    margin-left: -$gutter/2;
  }
  @else {
    width: 100%;
    max-width: $wrapper;
    margin-right: auto;
    margin-left: auto;
  }

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }
}

@mixin col($width: 1) {
  float: left;
  width: percentage($width);
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

@mixin push($width: 0) {
  position: relative;
  left: percentage($width);
}

@mixin pull($width: 0) {
  position: relative;
  right: percentage($width);
}
