// Base typography settings

// font size dictates line-height (ie. percentage(32/1.6/16))
// 32  = desirable line-height
// 1.6 = font-size multiplier (same like $lh unitless)
// 16  = default browser font-size
// 32/1.6/16 = 1.25 = 125%
// 16 * 1.25 = 20
$fz-mobile: percentage(28 / 1.6 / 16); // 17.5px
$fz-desktop: percentage(32 / 1.6 / 16); // 20px

$lh: 1.6rem;
$ff: 'Source Sans Pro', sans-serif;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;

// Show vertical rythm
$vertical-rythm: false;

// Breakpoints
$breakpoints: (
  'large': (min-width: 1024px)
);

// Colors
$color-text: #333;
$color-border: #ddd;
$color1: #e46764;
