---
layout: default
---

<main class="main">
  {% for post in paginator.posts %}

    <!-- article -->
    <article class="article">
      <h2 class="article__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="article__date">{{ post.date | date: "%b %-d, %Y" }}</p>
      <p class="article__excerpt">{{ post.excerpt }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="article__more">Read more »</a>
    </article>
    <hr>
    <!-- / article -->

  {% endfor %}

</main>

<!-- pagination -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="pagination__button pagination__button--prev">Previous</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="pagination__button pagination__button--next">Next</a>
  {% endif %}
  <div class="pagination__current">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
</div>
<!-- / pagination -->
