<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Pawel Grzybek - http://studiorgb.uk">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">

  <!-- Open graph data -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{% if page.title %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}/{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
  <meta property="og:image" content="{% if page.photo %}{{ site.url }}/photos/{{ page.photo }}{% else %}{{ "/assets/logo.png" | prepend: site.url }}{% endif %}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@pawelgrzybek" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}" />
  <meta property="og:image" content="{% if page.photo %}{{ site.url }}/photos/{{ page.photo }}{% else %}{{ "/assets/logo.png" | prepend: site.url }}{% endif %}">

  <!-- Standard Stuff -->
  <link rel="canonical" href="{% if page.title %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}/{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png?v=2">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png?v=2">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png?v=2">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png?v=2">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png?v=2">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png?v=2">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png?v=2">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png?v=2">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png?v=2">
  <link rel="icon" type="image/png" href="/assets/favicon-32x32.png?v=2" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/android-chrome-192x192.png?v=2" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicon-96x96.png?v=2" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicon-16x16.png?v=2" sizes="16x16">
  <link rel="manifest" href="/assets/manifest.json?v=2">
  <link rel="shortcut icon" href="/assets/favicon.ico?v=2">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/mstile-144x144.png?v=2">
  <meta name="msapplication-config" content="/assets/browserconfig.xml?v=2">
  <meta name="theme-color" content="#ffffff">

  <!-- Styles -->
  <style type="text/css">
    {% include main.css %}
  </style>

</head>