  <header class="header">

        <a class="header__skip" href="#main">Skip to content</a>

        <nav class="nav">
          <ul class="nav__l">
            <li class="nav__i">
              {% if page.title %}
              <div class="nav__logo">
                <a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
              </div>
              {% else %}
              <h1 class="nav__logo">
                <a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
              </h1>
              {% endif %}
            </li>
            <li class="nav__i">
              <a href="{{ site.baseurl }}/about/" title="About">About</a>
            </li>
            <li class="nav__i">
              <a href="{{ site.baseurl }}/archive/" title="Archive">Archive</a>
            </li>
            <li class="nav__i">
              <a href="http://twitter.com/{{ site.twitter_username }}" title="Paweł Grzybek on Twitter">Twitter</a>
            </li>
            <li class="nav__i">
              <a href="http://github.com/{{ site.github_username }}" title="Paweł Grzybek on Github">Github</a>
            </li>
          </ul>
        </nav>
  </header>
