// fira-sans-300 - latin
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'),
    url('../assets/fira-sans-300.woff2') format('woff2'),
    url('../assets/fira-sans-300.woff') format('woff');
}

// fira-sans-500 - latin
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
    url('../assets/fira-sans-500.woff2') format('woff2'),
    url('../assets/fira-sans-500.woff') format('woff');
}

// source-code-pro-regular - latin
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('../assets/source-code-regular.woff2') format('woff2'),
    url('../assets/source-code-regular.woff') format('woff');
}
