::selection {
  background: $color1;
  color: white;
  text-shadow: none;
}
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100%;
  font-family: $ff;
  font-size: pxtorem($fz);
  font-weight: 300;
  line-height: pxtorem($lh);
  color: $colorText;
  background: $colorBg;
  @if $verticalRythm == true {
    background-image: linear-gradient(rgba(50,50,50,.15) 1px, transparent 1px);
    background-size: 100% pxtorem($lh);
  }
}
img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img[src$=".svg"] {
  max-width: auto;
  width: 100%;
}