::selection {
  background: $color1;
  color: #fff;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: $fz-mobile;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  // https://bocoup.com/weblog/text-rendering/
  text-rendering: optimizeLegibility;

  @include mq(large) {
    font-size: $fz-desktop;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  color: $color-text;
  font-family: $ff;
  font-size: 1rem;
  line-height: $lh;
  @if $vertical-rythm == true {
    background-image: linear-gradient(rgba(50, 50, 50, .15) 1px, transparent 1px);
    background-size: 100% $lh;
  }
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
