strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  background: transparent;
  color: $color1;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: underline;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $lh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  // color: ;
  vertical-align: middle;
}

h1 {
  font-size: $h1;
  line-height: $lh*1.5;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

ul,
ol {
  margin: 0 0 $lh $lh;

  ul,
  ol {
    margin: 0 $lh;
  }
}

hr {
  display: block;
  height: $lh;
  border: 0;
  box-shadow: inset 0 1px 0 $color-border;
}

blockquote {
  margin-bottom: $lh;
  padding: $lh;
  border-left: 4px solid #e6e6e6;
  background: #f7f7f7;

  p {
    margin: 0;
  }
}
