b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

a {
  color: $color1;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  @include transition(color);

  &:hover,
  &:focus,
  &:active {
    color: darken($color-text, 10%);
    outline: 0;
    text-decoration: none;
  }
}

p {
  margin-bottom: $lh;
}

h1 {
  font-size: pxtorem($h1);
  font-weight: 700;
  margin-bottom: $lh;
  color: darken($color-text, 10%);
}

h2 {
  font-size: pxtorem($h2);
  font-weight: 700;
  margin-bottom: $lh;
  color: darken($color-text, 10%);
}

h3 {
  font-size: pxtorem($h3);
  font-weight: 700;
  margin-bottom: $lh;
  color: darken($color-text, 10%);
}

h4 {
  font-size: pxtorem($h4);
  font-weight: 700;
  margin-bottom: $lh;
  color: darken($color-text, 10%);
}

h5 {
  font-size: pxtorem($h5);
  font-weight: normal;
  margin-bottom: $lh;
  color: darken($color-text, 10%);
}

h6 {
  font-size: pxtorem($h6);
  font-weight: normal;
  margin-bottom: $lh;
  color: darken($color-text, 10%);
}

ul,
ol {
  margin: 0 0 pxtorem($lh) pxtorem($lh);

  ul,
  ol {
    margin: 0 pxtorem($lh);;
  }
}

blockquote {
  border-left: 4px solid #e6e6e6;
  background: #f7f7f7;
  margin-bottom: pxtorem($lh);
  padding: pxtorem($lh);

  p {
    font-size: pxtorem(18px);
    margin: 0;
  }
}

hr {
  display: block;
  height: 1px;
  margin-bottom: pxtorem($lh - 1px);
  border: 0;
  outline: none;
  border-top: 1px solid #ddd;
}
