.article {
  box-shadow: inset 0 -1px 0 $color-border;
  margin-bottom: $lh;
  padding-bottom: $lh;

  &--single {
    box-shadow: none;
  }
}

  .article__title {
    font-size: $h2;
    margin-bottom: $lh/2;

    &--single {
      font-size: $h1;
    }

    a {
      color: $color-text;

      &:hover {
        color: $color1;
        text-decoration: none;
      }
    }
  }

  .article__date {
    font-size: $h6;
    margin-bottom: $lh/2;
  }
