// .article {
// }

.article__title {
  font-size: $h1;
  margin-bottom: pxtorem($lh/2);

  a {
    color: darken($color-text, 10%);

    &:hover {
      color: $color1;
    }
  }
}

.article__date {
  font-size: pxtorem(14px);
  margin-bottom: pxtorem($lh/2);
}

.article__excerpt {
  margin-bottom: pxtorem($lh/2);
}

.article__more {
  display: inline-block;
  margin-bottom: pxtorem($lh*1.5);
}
