.header {
  border-bottom: 1px solid #ddd;
  margin-bottom: $lh*2;
  padding: $lh 0 ($lh - 1);
}

.header__title {
  float: left;
  font-size: pxtorem($h2);
  font-weight: 700;
  margin-bottom: 0;

  a {
    color: darken($color-text, 10%);

    &:hover {
      color: $color1;
    }
  }
}
