.header {
  position: relative;
}

.header__skip {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0 ($lh / 2);
  font-size: .8em;

  &:focus {
    opacity: 1;
  }
}
