.nav {
  padding: $lh * 2 0;
}

.nav__l {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav__i {
  margin-right: $lh / 4;

  @media screen and (min-width: 700px) {
    margin-right: $lh / 2;
  }

  &:first-of-type {
    flex-basis: 100%;

    @media screen and (min-width: 764px) {
      flex-basis: auto;
    }
  }
}

.nav__logo {
  margin: 0;
  font-size: $fz;
  font-weight: 600;
  line-height: $lh;
  display: inline-block;
}
