.post {
  margin-bottom: 3.6rem;
}

.post__date {
  display: block;
  color: $color-text-light;
  font-size: .75rem;
}

.post__title {
  margin-top: 0;
}

.post__link {
  color: $color-text-headings;
}
