.social {
  display: flex;

  &--single {
    margin-bottom: $lh;
  }
}

  .social__icon {
    height: $lh*1.5;

    margin-right: $lh/2;
    box-shadow: inset 0 0 0 1px $color-border;

    svg {
      width: $lh/2;
      height: $lh/2;
      fill: shade($color-border, 10%);
      margin: $lh/2;
      float: left;
    }

    span {
      margin-right: $lh/2;
      font-size: $h5;
      line-height: $lh*1.5;
      color: shade($color-border, 20%);
    }

    &:hover {
      box-shadow: inset 0 0 0 1px $color1;
      text-decoration: none;

      svg {
        fill: $color1;
      }

      span {
        color: $color1;
      }
    }
  }
