.social {
  @include clearfix;
  list-style: none;
  margin: 0 0 $lh*2 0;
  li {
    float: left;
  }
}
.social--post {
  margin: $lh*2 0 $lh 0;
}
  .social__item {
    display: block;
    height: $lh*1.5;
    border: 1px solid #ddd;
    color: #bbb;
    font-size: 14px;
    line-height: $lh*1.5 - 2px;
    margin: $lh/2 $lh/2 0 0;
    padding-right: 11px;
    @include transition;
    &:hover {
      border: 1px solid $color1;
      color: $color1;
      .social__icon {
        fill: $color1;
      }
    }
  }
    .social__text {
      margin-left: 12px;
    }
    .social__icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      fill: #ccc;
      vertical-align: middle;
      margin: 11px 0 11px 11px;
      @include transition(fill);
    }