.archive {
  list-style: none;
  margin-left: 0;
}

.archive__item {
  display: block;
  padding: .8rem 0;
  box-shadow: inset 0 -1px 0 0 var(--color-border);
}

.archive__item:last-of-type {
  box-shadow: none;
}

.archive__date {
  font-size: .707rem;
  opacity: .5;
}

.archive__link {
  display: block;
  transition: color 100ms;
  color: inherit;
  font-weight: 700;
}

.archive__link:hover,
.archive__link:focus {
  color: var(--color1);
  text-decoration: none;
}
