.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  box-shadow: 0 1px 0 0 var(--color-border);
}

.header__logo {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.header__nav {
  display: flex;
}

.header__link {
  padding: 1.2rem 1.6rem;
  transition: all 100ms;
  color: var(--color-text);
  text-decoration: none;
  box-shadow: inset 1px 0 0 0 var(--color-border);

  &:hover,
  &:focus {
    outline: 0;
    background: var(--color1);
    color: #fff;
    text-decoration: none;

    .header__icon {
      fill: #fff;
    }
  }
}

.header__link--logo {
  display: block;
  box-shadow: inset -1px 0 0 0 var(--color-border);
}

.header__link:not(:first-child) {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.header__icon {
  position: relative;
  top: 2px;
  width: 18px;
  height: 18px;
  fill: #888;
  transition: fill 100ms;
}
