.pag {
  padding-top: calc(var(--lh) / 2);
  text-align: center;
}

  .pag__btn {
    height: calc(var(--lh) * 1.5);
    padding: 0 var(--lh);
    color: #b1b1b1;
    line-height: calc(var(--lh) * 1.5);
    box-shadow: inset 0 0 0 1px var(--color-border);


    &--prev {
      float: left;
    }

    &--next {
      float: right;
    }

    &:hover {
      color: var(--color1);
      text-decoration: none;
      box-shadow: inset 0 0 0 1px var(--color1);
    }
  }

  .pag__now {
    display: inline;
    color: #b1b1b1;
    font-size: var(--h5);
    line-height: calc(var(--lh) * 1.5);
    vertical-align: top;
  }
