.pager {
  display: flex;
  position: relative;
  align-items: center;
  font-size: .707rem;
  box-shadow: inset 0 0 0 1px var(--color-border);
}

.pager__btn {
  padding: 1.6rem;
  transition: all var(--ms);;
  outline: 0;
  color: inherit;
}

@media screen and (min-width: 700px) {
  .pager__btn {
    padding: 1.6rem 3.2rem;
  }
}

.pager__btn:hover,
.pager__btn:focus {
  background-color: var(--color1);
  color: #fff;
  text-decoration: none;
}

.pager__btn--prev {
  margin-right: auto;
  box-shadow: 1px 0 0 0 var(--color-border);
}

.pager__btn--next {
  margin-left: auto;
  box-shadow: -1px 0 0 0 var(--color-border);
}

.pager__current {
  display: none;
}

@media screen and (min-width: 700px) {
  .pager__current {
    display: block;
    position: absolute;
    top: 1.6rem;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
  }
}
