.post {
  margin-bottom: 4.8rem;
}

.post__date {
  display: block;
  font-size: .707rem;
  opacity: .5;
}

.post__title {
  margin-top: 0;
}

.post__link {
  transition: color var(--ms);;
  color: inherit;
}

.post__link:hover,
.post__link:focus {
  color: var(--color1);
  text-decoration: none;
}
