.post {
  padding: 3.2rem 0;
}

.post--index {
  box-shadow: 0 1px 0 0 var(--color-border);
}

.post__col {
  width: 100%;
  max-width: calc(700px + 1.6rem);
  margin: 0 auto;
  padding: 0 .8rem;
}

@media screen and (min-width: 1440px) {
  .post__col {
    max-width: calc(800px + 1.6rem);
  }
}

.post__date {
  display: block;
  font-size: .707rem;
  opacity: .5;
}

.post__title {
  margin-top: 0;
}

.post__link {
  transition: color 100ms;
  color: inherit;
}

.post__link:hover,
.post__link:focus {
  color: var(--color1);
  text-decoration: none;
}
