.social {
  display: none;
}

@media screen and (min-width: 700px) {
  .social {
    display: flex;
    list-style: none;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  transition: all var(--ms);
  outline: 0;
  box-shadow: inset 1px 0 0 0 var(--color-border);
  fill: #444;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--color1);
  color: #fff;
  text-decoration: none;
  box-shadow: inset 1px 0 0 0 var(--color1);
  fill: #fff;
}

.social__icon {
  width: 24px;
  height: 24px;
}
