::selection {
  background: var(--color1);
  color: #fff;
  text-shadow: none;
}

html {
  height: 100%;
  font-size: var(--fz-mobile);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /* https://bocoup.com/weblog/text-rendering/ */
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: var(--fz-desktop);
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  color: var(--color-text);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: var(--lh);
/*  background-image: linear-gradient(rgba(50, 50, 50, .15) 1px, transparent 1px);
  background-size: 100% var(--lh);*/
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
