strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  background: transparent;
  color: var(--color1);
  text-decoration: none;
  cursor: pointer;
  word-wrap: break-word;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: underline;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--lh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  vertical-align: middle;
}

h1 {
  font-size: var(--h1);
  line-height: calc(var(--lh) * 1.5);
}

h2 {
  font-size: var(--h2);
  line-height: calc(var(--lh) * 1.5);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

ul,
ol {
  margin: 0 0 var(--lh) var(--lh);

  ul,
  ol {
    margin: 0 var(--lh);
  }
}

hr {
  display: block;
  height: var(--lh);
  border: 0;
  box-shadow: inset 0 1px 0 var(--color-border);
}

blockquote {
  margin-bottom: var(--lh);
  padding: var(--lh);
  border-left: 4px solid #e6e6e6;
  background: #f7f7f7;

  p {
    margin: 0;
  }
}
