:root {
  /* Base typography settings */

  --lh: 1.6rem;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

/* Colors */
  --color-text: #333;
  --color-border: #ddd;
  --color1: #e46764;
}
