:root {
  /* Base typography settings */

  --lh: 1.6rem;

  /* Perfect fourth scale (1.333) */

  /* h1 | 1rem * 1.333 * 1.333 * 1.333 = 2.3686rem; */
  /* h2 | 1rem * 1.333 * 1.333 = 1.7769rem; */
  /* h3 | 1rem * 1.333 = 1.333rem; */
  /* h4 | 1rem = 1rem; */
  /* h5 | 1rem / 1.333 = 0.7501rem; */
  /* h6 | 1rem / 1.333 / 1.333 = 0.5626rem; */

  --h1: 2.3686rem;
  --h2: 1.7769rem;
  --h3: 1.333rem;
  --h4: 1rem;
  --h5: .7501rem;
  --h6: .5626rem;

  /* Colors */
  --color-text: #333;
  --color-border: #ddd;
  --color1: #e46764;
}
