:root {
  /* Base typography settings */

  /* 28  = desirable line-height */
  /* 1.6 = font-size multiplier (same like unitless --$lh) */
  /* 16  = default browser font-size */
  /* 17.5px */
   --fz-mobile: calc(28 / 1.6 / 16 * 100%);
  /* 32  = desirable line-height */
  /* 1.6 = font-size multiplier (same like unitless --lh) */
  /* 16  = default browser font-size */
  /* 20px */
   --fz-desktop: calc(32 / 1.6 / 16 * 100%);

  --lh: 1.6rem;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

/* Colors */
  --color-text: #333;
  --color-border: #ddd;
  --color1: #e46764;
}
