<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>

  {% include header.html %}

  <div class="wrapper">
    <div class="col">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  <script>
    var jt = jt || {};
    jt.nav = (function() {
      function mobileMenu() {
        document.querySelector('.header__trigger').addEventListener('click', function(e) {
          e.preventDefault();
          [].map.call(document.querySelectorAll('.about'), function(el) {
            el.classList.toggle('about--active');
          });
          [].map.call(document.querySelectorAll('.header__trigger__icon'), function(el) {
            el.classList.toggle('header__trigger__icon--active');
          });
        });
      }
      return {
          mobileMenu: mobileMenu
      };
    })();
    jt.nav.mobileMenu();
  </script>

  </body>
</html>