.article {
  margin-bottom: $lh;
  padding-bottom: $lh;
  box-shadow: inset 0 -1px 0 $color-border;

  &--single {
    box-shadow: none;
  }
}

  .article__title {
    margin-bottom: $lh/2;
    font-size: $h2;

    &--single {
      font-size: $h1;
    }

    a {
      color: $color-text;

      &:hover {
        color: $color1;
        text-decoration: none;
      }
    }
  }

  .article__date {
    margin-bottom: $lh/2;
    font-size: $h6;
  }
