.pag {
  padding-top: $lh/2;
  text-align: center;
}

  .pag__btn {
    height: $lh*1.5;
    padding: 0 $lh;
    color: shade($color-border, 20%);
    line-height: $lh*1.5;
    box-shadow: inset 0 0 0 1px $color-border;


    &--prev {
      float: left;
    }

    &--next {
      float: right;
    }

    &:hover {
      color: $color1;
      text-decoration: none;
      box-shadow: inset 0 0 0 1px $color1;
    }
  }

  .pag__now {
    display: inline;
    color: shade($color-border, 20%);
    font-size: $h5;
    line-height: $lh*1.5;
    vertical-align: top;
  }
